<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Blog Ptit_Cookie{% endblock %}</title>
  {% block stylesheets %}

  <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{asset('css/materialize.min.css')}}"  media="screen,projection"/>
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
  <!--==============================
  header
  =================================-->

  <header>
    <div class="header_top">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h1><a href="/"></a></h1>
          </div>
        </div>
      </div>
    </div>
    <section id="stuck_container">
      <!--==============================
      Stuck menu
      =================================-->
      <div class="container">
        <div class="row">
          <div class="grid_12 ">
            <h1 class="logo">
              <a href="{{url('homepage')}}">
              </a>
            </h1>
            <div class="navigation ">
              <nav>
                <ul class="sf-menu">
                  <li><a href="{{url('homepage')}}">Accueil</a></li>
                  <li><a href="{{url('faq')}}">FAQ</a></li>
                  <li><a href="{{url('blog')}}">Blog</a></li>
                  {% if app.user %}
                  <li><a href="{{url('indexAdmin')}}">Administration</a></li>
                  <li><a href="{{url('logout')}}">Déconnexion </a></li>
                  {% else %}
                  <li><a href="{{url('menu_login')}}">Connexion</a></li>
                  {% endif %}
                </ul>
              </nav>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </section>
  </header>

  {% block body %}
  {% endblock %}
  {% block javascripts %}
  <script src="{{ asset('js/jquery.js')}}"></script>
  <script src="{{ asset('js/bootstrap.js')}}"></script>
  <script src="{{ asset('js/bootstrap.min.js')}}"></script>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{asset('js/materialize.min.js')}}"></script>
  <!--  <script src="{{ asset('js/jquery-migrate-1.1.1.js') }}"></script>
  <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ asset('js/script.js') }}"></script>
  <script src="{{ asset('js/superfish.js' )}}"></script>
  <script src="{{ asset('js/jquery.equalheights.js') }}"></script>
  <script src="{{ asset('js/jquery.mobilemenu.js') }}"></script>
  <script src="{{ asset('js/tmStickUp.js') }}"></script>
  <script src="{{ asset('js/jquery.ui.totop.js') }}"></script>
  <script src="{{ asset('js/jquery.shuffle-images.js') }}"></script>-->
  <!--<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>-->
  <script>
  $(window).load(function(){
    $().UItoTop({ easingType: 'easeOutQuart' });
    $('#stuck_container').tmStickUp({});
  });

  $(document).ready(function(){
    $(".shuffle-me").shuffleImages({
      target: ".images > img"
    });
  });

  $(window).load(function(){
    $().UItoTop({ easingType: 'easeOutQuart' });
    $('#stuck_container').tmStickUp({});
  });

  </script>
  {% endblock %}

  <!--==============================
  footer
  =================================-->
  <footer id="footer">

    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="sub-copy">Copyright 2016</div>
        </div>
      </div>
    </div>

</footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</body>
</html>
