{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
      <center>
        <!-- Blog Search Well -->
          <div class="well">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn " type="submit" data-type="submit"><i class="fa fa-search"></i></button>
            {{ form_end(form) }}
          
            <!-- /.input-group -->
          </div>
          <!-- /.well -->
  </center>
        <h3>Les derniers posts</h3>
      </div>
      {% for article in articles %}
      <div class="grid_2">
        <div class="block-1">
          <div style="text-align:center"><a href="{{ path('afficheArticle', {'id': article.id}) }}"><img src="{{ article.image }}" style="width:200px;height:200px;border-radius:160px"></a></div>
          <div style="text-align:center;font-weight:bold">{{ article.titre }}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
{% endblock %}
