{% extends 'base.html.twig' %}
{% block menu %}
<header>
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <h1><a href="/"></a></h1>
        </div>
      </div>
    </div>
  </div>
<section id="stuck_container">
<!--==============================
            Stuck menu
=================================-->
  <div class="container">
    <div class="row">
      <div class="grid_12 ">
        <h1 class="logo">
          <a href="index.html">
            Ptit'Cookie
          </a>
        </h1>
        <div class="navigation ">
          <nav>
            <ul class="sf-menu">
             <li><a href="/">Accueil</a></li>
              <li><a href="/blog">FAQ</a></li>
             <li class="current"><a href="/blog">Blog</a></li>
              <li><a href="/blog">Contact</a></li>
             <li><a href="admin">Administration</a></li>
           </ul>
          </nav>
          <div class="clear"></div>
        </div>
       <div class="clear"></div>
      </div>
   </div>
  </div>
</section>
</header>
{% endblock %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="grid_8">
        <h2>{{ Article.titre }}</h2>
        <div class="blog">
          <center><img src="{{ Article.image}}" alt="" style="width:400px;"class="img_inner"></center>
          <div class="text1 color1"><a href="#">{{ Article.description }}</a></div>
          <p>{{ Article.contenu }}</p>.

          <br>
          <br>

            <p><span class="fa fa-calendar"></span> Posté le : {{Article.datePost|date('d-m-Y')}}</p>
            <p><div class="fa fa-comments"></div> 0 Commentaire(s)</p>
          <br>
          <table>
          <tbody>
            <tr>
                <td><a href="#"><div class="fa fa-user"></div>{{Article.membre.username}}</a></td>
                <td><a href=""><img src="{{asset('images/cookie.png')}}"></a>0</td>
                <td><div class="fa fa-bookmark"></div> Catégorie: <a href="{{ path('afficheParCat', {'id': Article.categorie}) }}">{{ Article.categorie.nom }}</a>  </td>
              </tr>
          </tbody>
        </table>

        </div>
      </div>
      <div class="grid_4">
        <h2><div class="fa fa-comments"></div> Commentaires</h2>
        <!-- # Comment form -->
  <form action="" method="post" id="comment-form">
    <fieldset>
    <p class="field">
      <input name="f_mail" type="text" size="35" maxlength="255" placeholder="Votre email" />
    </p>
      <p class="field">
      <textarea name="c_content" id="c_content" cols="35" rows="7" placeholder="Votre commentaire"></textarea>
      </p>
      <p class="form-help"></p>

    </fieldset>

    <fieldset>
      <p class="buttons"><input type="submit" class="submit"  /></p>
    </fieldset>
  </form>
      </div>
      <div class="grid_4">
          <h2><div class="fa fa-tag"></div> TAGS</h2>
          --------------------------------

         <p>{% for tag in Article.tags %} #{{tag.getName}}, {% endfor %}</p>

      </div>
    </div>
  </div>
</section>
{% endblock %}
