{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Affichage d'un article</h1>
            <ol class="breadcrumb">
                <li><a href="{{url('homepage')}}">Accueil</a></li>
                <li><a href="{{url('blog')}}">Article</a></li>
                <li class="active">Article : {{ Article.titre }}</li>
            </ol>
        </div>
    </div>


      <div class="col-lg-8">

        <h2>{{ Article.titre }}</h2>
        <div class="blog">
          <center><img src="{{ Article.image}}" alt="" class="img_inner"></center>
          <div class="text1 color1">{{ Article.description }}</div>

          <textarea class="materialize-textarea" readonly>{{ Article.contenu }}</textarea>

          <p>{{ Article.contenu }}</p>.

          {% if app.user %}    <p><a class="btn" href="{{ path('editArticle', {'id': Article.id}) }}">Modifier</a>  <a class="btn" href="{{ path('delArticle', {'id': Article.id}) }}">Supprimer</a></p>{% endif %}
          <br>
          <br>

            <p><span class="fa fa-calendar"></span> Posté le : {{Article.datePost|date('d-m-Y')}}</p>
          <br>
          <table>
          <tbody>
            <tr>
                <td><a href="#"><div class="fa fa-user"></div>{{Article.membre.getUsername()}}</a></td>
                <td><div class="fa fa-comments"></div> {{ get_total_Commentaire(Article.id) }} Commentaire(s)</td>
                <td><div class="fa fa-bookmark"></div> Catégorie: <a href="{{ path('afficheParCat', {'id': Article.categorie.id}) }}">{{ Article.categorie.nom }}</a>  </td>
              </tr>
          </tbody>
        </table>

        </div>
      </div>
      <div class="row">
      <div class="col-lg-4">
        <h2><div class="fa fa-tag"></div> TAGS</h2>
        --------------------------------

       <p>{% for tag in Article.tags %} #{{tag.getName}}, {% endfor %}</p>

    </div>
        <div class="col-lg-4">
            <div class="row">
              <h2><div class="fa fa-comments"></div> Commentaires</h2>
              {{ form_start(formComment) }}
              <div class="input-field col s12">
                {{ form_row(formComment.auteur) }}
              </div>
              <br>

              <div class="input-field col s12">

                {{ form_row(formComment.commentaire, { 'attr': {'class': 'materialize-textarea'} }) }}

                {{ form_row(formComment.commentaire, { 'attr': {'class': 'materialize-textarea'} })}}

              </div>
              </div>
                <button class="btn" name="form[submit]" data-type="submit">Ajouter</button>
              {{ form_end(formComment) }}
            </div>


          <div class="col-lg-4">
          <h3> Les commentaires </h3>
          <hr>
          {% for commentaire in Comments %}
          <div class="media">
              <a class="pull-left" href="#">
                  <img class="media-object" src="http://www.bitzstore.com/img/cms/Cookies.png" style="width:54px;height:54px" alt="">
              </a>
              <div class="media-body">
                  <h4 class="media-heading">{{ commentaire.auteur }}
                      <small>{{commentaire.date|date('d-m-Y')}}</small>
                  </h4>
                  {{ commentaire.commentaire }}
              </div>
          </div>
          <hr>
          {% endfor %}
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock %}
