{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content" class="gallery"><div class="ic">J'y vais ! Website Templates @ TemplateMonster.com - August11, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h2> Administration </h2>
        <a class="btn btn-warning" href="{{url ('ajoutArticle')}}">Nouvel article</a>
        <a class="btn btn-warning" href="{{url ('ajoutArticle')}}">Nouveau tag</a>
        <a class="btn btn-warning" href="{{url ('ajoutArticle')}}">Nouvel catégorie</a>
        <br>
        <br>
        <h3> Liste des articles </h3>
        <table class="table table-bordered table-striped">
          <td>Titre</td>
          <td>Description</td>
          <td colspan="4">Action</td>

          {% for article in articles %}
          <tr>
          <td>{{article.titre}}</td>
          <td>{{article.description}}</td>
          <td><td><a class="btn" href="">Modifier</a></td><td><a class="btn" href="">Supprimer</a></td></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
