{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content" class="gallery">
  <div class="container">
    <div class="row">
    {% for message in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col s12 light-green white-text"><h4>{{ message }}</h4></div>
        </div>
    {% endfor %}
      <div class="grid_12">
        <h2> Administration </h2>
        <a class="btn btn-warning" href="{{url ('ajoutArticle')}}">Nouvel article</a>
        <a class="btn btn-warning" href="{{url ('ajoutTag')}}">Nouveau tag</a>
        <a class="btn btn-warning" href="{{url ('ajoutCategorie')}}">Nouvel catégorie</a>
        <br>
        <br>
        <h3> Liste des articles </h3>
        <table class="table table-bordered table-striped">
          <td>Titre</td>
          <td>Description</td>
          <td colspan="4">Action</td>

          {% for article in articles %}
          <tr>
          <td><a href="{{ path('afficheArticle', {'id': article.id}) }}">{{article.titre}}</a></td>
          <td>{{article.description}}</td>
          <td><td><a class="btn" href="{{ path('editArticle', {'id': article.id}) }}">Modifier</a></td><td><a class="btn" href="{{ path('delArticle', {'id': article.id}) }}">Supprimer</a></td></td>
          </tr>
          {% endfor %}
        </table>
        <div class="col-lg-6">
        <h3>Les catégories</h3>
        <table class="table table-bordered table-striped">
          <td>Nom</td>
          <td colspan="4">Action</td>

          {% for categorie in categories %}
          <tr>
          <td>{{categorie.nom}}</td>
          <td><td><a class="btn" href="{{ path('editCategorie', {'id': categorie.id}) }}">Modifier</a></td><td><a class="btn" href="{{ path('delCategorie', {'id': categorie.id}) }}">Supprimer</a></td></td>
          </tr>
          {% endfor %}
        </table>
        </div>
        <div class="col-lg-6">
        <h3>Les tags</h3>
        <table class="table table-bordered table-striped">
          <td>Nom</td>
          <td colspan="4">Action</td>

          {% for tag in tags %}
          <tr>
          <td>{{tag.nom}}</td>
          <td><td><a class="btn" href="{{ path('editTag', {'id': tag.id}) }}">Modifier</a></td><td><a class="btn" href="{{ path('delTag', {'id': tag.id}) }}">Supprimer</a></td></td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
