{% extends 'base.html.twig' %}
{% block body %}
<!--=====================
          Content
======================-->
<section id="content">
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Articles
          </h1>
          <ol class="breadcrumb">
              <li><a href="{{url('blog')}}">Accueil</a>
              </li>
              <li><a href="{{url('indexAdmin')}}">Administration</a></li>
              <li class="active">Modification article</li>
          </ol>
      </div>
  </div>


          <div class="row">
            <h2><div class="fa fa-plus"></div> Modification  article</h2>
            {{ form_start(form) }}

            <div class="input-field col s12">
              {{ form_row(form.titre) }}
            </div>

            <div class="input-field col s12">
              {{ form_row(form.contenu, { 'attr': {'class': 'materialize-textarea'} }) }}
            </div>

            <div class="input-field col s12">
              {{ form_row(form.description, { 'attr': {'class': 'materialize-textarea'} }) }}
            </div>

            <div class="input-field col s12">
              {{ form_row(form.description, { 'attr': {'class': 'materialize-textarea'} }) }}
            </div>

            <label for="input-field col s12">Catégorie</label>
            <div class="input-field col s12">
            {{ form_widget(form.categorie, { 'attr': {'class': 'browser-default'} }) }}
            </div>

            <div class="input-field col s6">
            <label for="input-field col s12">Tags</label><br>
              {{ form_row(form.tags) }}
            </div><br>

            <div class="input-field col s6">
              <label for="input-field col s12">Difficuté</label><br>
              {{ form_row(form.difficulte) }}

                            <br><br>
            </div>

            <div class="input-field col s12">
              {{ form_row(form.image) }}
            </div>

            <br>
            <br>
            </div>
            <button class="btn" name="form[submit]" data-type="submit">Modifier</button>
              <a href="{{url('indexAdmin')}}" class="btn">Annuler</a>
            {{ form_end(form) }}
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
